<app-header
  [title]="headerTitle"
  [icon]="headerIcon"
  [logo]="headerLogo"
></app-header>
<div class="flex justify-content-center mt-1">
  <app-body>
    <p-tabView>
      <p-tabPanel
        ><ng-template pTemplate="header">
          <i class="pi pi-calendar mr-2"></i>
          <span>Events</span>
        </ng-template>
        <app-card header="Events List">
          <app-event-table></app-event-table>
        </app-card>
      </p-tabPanel>
      <p-tabPanel
        ><ng-template pTemplate="header">
          <i class="pi pi-heart mr-2"></i>
          <span>Event Ministries</span>
        </ng-template>
        <app-card header="Event Ministries List">
          <app-event-ministries-table></app-event-ministries-table>
        </app-card>
      </p-tabPanel>
      <p-tabPanel
        ><ng-template pTemplate="header">
          <i class="pi pi-heart mr-2"></i>
          <span>Event Types</span>
        </ng-template>
        <app-card header="Event Types List">
          <app-event-type-table></app-event-type-table>
        </app-card>
      </p-tabPanel>
      <p-tabPanel
        ><ng-template pTemplate="header">
          <i class="pi pi-id-card mr-2"></i>
          <span>Family ID's</span>
        </ng-template>
        <app-card header="Family ID's List">
          <app-family-id-table></app-family-id-table>
        </app-card>
      </p-tabPanel>
      <p-tabPanel
        ><ng-template pTemplate="header">
          <i class="pi pi-users mr-2"></i>
          <span>Volunteers</span>
        </ng-template>
        <app-card header="Volunteers List">
          <app-volunteer-table></app-volunteer-table>
        </app-card>
      </p-tabPanel>
      <p-tabPanel
        ><ng-template pTemplate="header">
          <i class="pi pi-heart mr-2"></i>
          <span>Ministry Types</span>
        </ng-template>
        <app-card header="Ministry Types List">
          <app-ministry-table></app-ministry-table>
        </app-card>
      </p-tabPanel>
    </p-tabView>
  </app-body>
</div>
