<app-header
  [title]="headerTitle"
  [icon]="headerIcon"
  [logo]="headerLogo"
></app-header>
<div class="flex justify-content-center mt-1">
  <app-body>
    <div class="grid p-fluid">
      <div class="col-12 md:col-8">
        <app-card header="Events"></app-card>
      </div>
      <div class="col-12 md:col-4">
        <app-card header="Family ID's"></app-card>
      </div>
      <div class="col-12 md:col-8">
        <app-card header="Volunteers"></app-card>
      </div>
      <div class="col-12 md:col-4">
        <app-card header="Ministry Table">
          <app-ministry-table></app-ministry-table>
        </app-card>
      </div>
    </div>
  </app-body>
</div>
