<div *ngIf="this.auth.currentUser">
  <p-menubar
    [model]="loggedInItems"
    [style]="{
      'background-color': 'var(--primary-200)'
    }"
    styleClass="shadow-5"
  >
    <ng-template pTemplate="end">
      <div class="flex justify-content-center align-items-center">
        <div>
          <h2 class="mb-1">{{ navTitle }}</h2>
          <span>{{ loggedInUser }}</span>
        </div>
        <div>
          <img width="100px" height="100px" src="{{ navLogo }}" />
        </div>
      </div>
    </ng-template>
  </p-menubar>
</div>

<div *ngIf="!this.auth.currentUser">
  <p-menubar
    [model]="loggedOutItems"
    [style]="{
      'background-color': 'var(--primary-200)'
    }"
    styleClass="shadow-5"
  >
    <ng-template pTemplate="end">
      <div>
        <h2 class="flex align-items-center my-0">
          {{ navTitle }}
          <img width="100px" height="100px" src="{{ navLogo }}" />
        </h2>
      </div>
    </ng-template>
  </p-menubar>
</div>
